# /toko-baju/.gitignore

# Dependencies
**/node_modules/

# Vite build output
/client/dist/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*
!/.env.example

# IDE-specific
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?