# Server
NODE_ENV=development
PORT=5000

# Database — sesuaikan dengan XAMPP kamu
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=outfitopia

# JWT — ganti dengan random string
JWT_SECRET=outfitopia_secret_key_ganti_ini_dengan_string_random_32_karakter

# CORS
FRONTEND_URL=http://localhost:5173

# Email (opsional untuk development)
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
